---
kind: ConfigMap
apiVersion: v1
metadata:
  name: ofss-config-env
  namespace: kube-system
data:
  hostname_in_docker: daocloud-k8s-sh
  ip_out_docker: 10.25.10.20
  server_addr: bbs.itaojin.me
  ssh_port_out_docker: '22'
#下面是easyrsa生成证书所需要的变量,保持默认即可(下面变量已经写到容器启动脚本中,为了保证变量存在所以在这里也定义了一次)
  OPENVPN: /etc/openvpn
  EASYRSA_PKI: '/etc/openvpn/pki'
  EASYRSA_VARS_FILE: '/etc/openvpn/vars'
  EASYRSA: /usr/share/easy-rsa
  EASYRSA_CRL_DAYS: '3650'
---
kind: ConfigMap
apiVersion: v1
metadata:
  name: ofss-config-frpc
  namespace: kube-system
data:
  frpc-lite.ini: |-
    [common]
    server_addr = 0.0.0.0
    server_port = 7100
    log_file = console
    log_level = info
    log_max_days = 3
    privilege_token = 405520

    admin_addr = 127.0.0.1
    admin_port = 7400
    admin_user = admin
    admin_pwd = admin

    pool_count = 5
    tcp_mux = true
    #user = your_name
    login_fail_exit = true
    protocol = tcp

    [range:sshindocker hostname_in_docker]
    type = tcp
    local_ip = 127.0.0.1
    local_port = 22
    remote_port = 0
    use_encryption = true
    use_compression = true

    [range:sshoutdocker hostname_in_docker]
    type = tcp
    local_ip = ip_out_docker
    local_port = ssh_port_out_docker
    remote_port = 0
    use_encryption = false
    use_compression = false


    [range:openvpn hostname_in_docker]
    type = tcp
    local_ip = open
    local_port = 1194
    remote_port = 0
    use_encryption = false
    use_compression = false

    [range:openvpn hostname_in_docker]
    type = udp
    local_ip = open
    local_port = 1194
    remote_port = 0
    use_encryption = false
    use_compression = false

    [range:squid hostname_in_docker]
    type = tcp
    local_ip = squid
    local_port = 3128
    remote_port = 0
    use_encryption = false
    use_compression = false

---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: "8"
  labels:
    dce.daocloud.io/app: forbusiness
  name: frpc
spec:
  template:
    metadata:
      labels:
        dce.daocloud.io/app: forbusiness
      name: frpc
    spec:
      containers:
      - envFrom:
        - configMapRef:
            name: ofss-config-env
        image: registry.cn-hangzhou.aliyuncs.com/sourcegarden/frpc:alpine-v1.0
        imagePullPolicy: Always
        name: frpc
        resources:
          limits:
            cpu: 200m
            memory: "209715200"
          requests:
            cpu: "0"
            memory: "209715200"
        volumeMounts:
        - mountPath: /etc/frp-backup/
          name: configmap-ofss-config-frpc
        - mountPath: /etc/frp
          name: hostpath-frp
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      volumes:
      - name: configmap-ofss-config-frpc
        configMap:
          defaultMode: 420
          name: ofss-config-frpc
      - name: hostpath-frp
        hostPath:
          path: /data/tools/frp
          type: ''
---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: "8"
  labels:
    dce.daocloud.io/app: forbusiness
    dce.daocloud.io/component: nps
  name: nps
spec:
  selector:
    matchLabels:
      dce.daocloud.io/component: nps
  template:
    metadata:
      creationTimestamp: null
      labels:
        dce.daocloud.io/app: forbusiness
        dce.daocloud.io/component: nps
      name: nps
    spec:
      containers:
      - env:
        - name: NPC_SERVER_ADDR
          value: 118.25.50.157:8024
        - name: NPC_SERVER_VKEY
          value: f5r2g0vpgoqjfx7u
        image: registry.cn-hangzhou.aliyuncs.com/sourcegarden/nps:client-v1.0
        imagePullPolicy: Always
        name: nps
        resources:
          limits:
            cpu: 200m
            memory: "209715200"
          requests:
            cpu: "0"
            memory: "209715200"
      dnsPolicy: ClusterFirst
---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: "6"
  labels:
    dce.daocloud.io/app: forbusiness
  name: open
spec:
  template:
    metadata:
      labels:
        dce.daocloud.io/app: forbusiness
      name: open
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: kubernetes.io/hostname
                operator: In
                values:
                - dce-bj-node-14
      containers:
      - envFrom:
        - configMapRef:
            name: ofss-config-env
        image: registry.cn-hangzhou.aliyuncs.com/sourcegarden/openvpn:alpine-v1.0
        imagePullPolicy: Always
        name: open
        resources:
          limits:
            cpu: 200m
            memory: "209715200"
          requests:
            cpu: "0"
            memory: "209715200"
        securityContext:
          privileged: true
        volumeMounts:
        - mountPath: /etc/openvpn
          name: hostpath-open
      dnsPolicy: ClusterFirst
      volumes:
      - hostPath:
          path: /data/tools/openvpn/
          type: ""
        name: hostpath-open
---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: "7"
  labels:
    dce.daocloud.io/app: forbusiness
  name: squid
spec:
  template:
    metadata:
      creationTimestamp: null
      labels:
        dce.daocloud.io/app: forbusiness
      name: squid
    spec:
      containers:
      - image: registry.cn-hangzhou.aliyuncs.com/sourcegarden/squid:alpine-v0.2
        imagePullPolicy: Always
        name: squid
        resources:
          limits:
            cpu: 200m
            memory: "209715200"
          requests:
            cpu: "0"
            memory: "209715200"
      dnsConfig: {}
      dnsPolicy: ClusterFirst
---
apiVersion: v1
kind: Service
metadata:
  annotations:
    io.daocloud.dce.serviceSelectorType: service
  labels:
    dce.daocloud.io/app: forbusiness
  name: frpc
spec:
  ports:
  - name: frpc-1194
    port: 1194
    protocol: TCP
    targetPort: 1194
  selector:
    dce.daocloud.io/component: frpc
  sessionAffinity: None
  type: ClusterIP
---
apiVersion: v1
kind: Service
metadata:
  annotations:
    io.daocloud.dce.serviceSelectorType: service
  labels:
    dce.daocloud.io/app: forbusiness
  name: open
spec:
  ports:
  - name: open-1194
    port: 1194
    protocol: TCP
    targetPort: 1194
  selector:
    dce.daocloud.io/component: open
  type: ClusterIP
---
apiVersion: v1
kind: Service
metadata:
  annotations:
    io.daocloud.dce.serviceSelectorType: service
  labels:
    dce.daocloud.io/app: forbusiness
  name: squid
spec:
  ports:
  - name: squid-3128
    port: 3128
    protocol: TCP
    targetPort: 3128
  - name: squid-4128
    port: 4128
    protocol: TCP
    targetPort: 4128
  selector:
    dce.daocloud.io/component: squid
  type: ClusterIP
