[submodule "submodules/frpc"]
	path = submodules/frpc
	url = git@github.com:pingod/frpc.git
[submodule "submodules/squid"]
	path = submodules/squid
	url = git@github.com:pingod/squid-alpine-ssl.git
[submodule "submodules/ocserv"]
	path = submodules/ocserv
	url = git@github.com:pingod/docker-ocserv.git
[submodule "submodules/openvpn"]
	path = submodules/openvpn
	url = git@github.com:pingod/docker-openvpn.git
[submodule "submodules/wireguard"]
	path = submodules/wireguard
	url = git@github.com:pingod/docker-wireguard.git
[submodule "submodules/obfsproxy"]
	path = submodules/obfsproxy
	url = git@github.com:pingod/docker-obfsproxy.git
